<md-card>
    <md-card-title>{{title}}</md-card-title>
    <md-card-content>
        <span>{{description}}</span>
        <a href="https://github.com/Useful-Software-Solutions-Ltd/angular2-disqus/blob/master/readme.md" target="_blank">Full instructions</a>
    </md-card-content>
    <md-card-content class="demo-content">
        <md-input id="input-page-identifier" placeholder="page identifier eg: pageId1" [(ngModel)]="pageIdentifier"></md-input>
        <md-input id="input-page-url" placeholder="page url  eg: http://example.com/#!newthread" [(ngModel)]="pageUrl"></md-input>
    </md-card-content>
    <md-card-actions align="end">
        <button id="btn-reset" md-raised-button color="primary" (click)="reset()">reset</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-title>DISQUS comments section</md-card-title>
    <disqus-thread></disqus-thread>
</md-card>